body {
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-color: #fff7f0;
  color: #030303;
}

.container {
  width: 100%;
  max-width: 74.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media only screen and (max-width: 450px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.logo:hover, .arrow:active, .btn:active {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.btn {
  width: 14.25rem;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 14px 45px;
  border-radius: 1.75rem;
  color: #030303;
  background-color: #fff;
  cursor: pointer;
}
.btn--dark {
  transition: background-color 0.2s ease;
  color: #fff7f0;
  background-color: #030303;
}
.btn--dark:hover {
  background-color: #755cde;
}
.btn--red {
  color: #fff7f0;
  background-color: #eb7565;
  transition: background-color 0.2s ease;
}
.btn--red:hover {
  background-color: #f6a560;
}
.arrow {
  cursor: pointer;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #030303;
  transition: background-color 0.2s ease;
}
.arrow span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow img {
  display: block;
  width: 0.9375rem;
  height: 1rem;
}
.arrow:hover {
  transition: background-color 0.2s ease;
  background-color: #755cde;
}
.logo {
  display: block;
  margin-right: 1rem;
}
.logo__img {
  display: block;
  width: 4rem;
  height: 4rem;
}
.header {
  margin-top: 2.125rem;
  margin-bottom: 4.125rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 450px) {
  .header {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .header .logo__img {
    width: 3rem;
    height: 3rem;
  }
  .header .btn {
    width: 11rem;
    padding: 0.5rem 1.75rem;
    font-size: 0.875rem;
  }
}
.hero {
  margin-bottom: 8.5rem;
}
.hero__content {
  text-align: center;
  width: 100%;
  max-width: 47rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 5rem;
}
.hero__heading {
  font-size: 3.5rem;
  line-height: 4.6875rem;
  margin-bottom: 1.5rem;
}
.hero__description {
  color: #7a746e;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 11.375rem 9.875rem;
  gap: 1.5625rem;
  color: #fff7f0;
  font-size: 1.5rem;
  line-height: 2rem;
}
.grid__inner {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.5625rem;
}
.grid__inner--img {
  position: absolute;
  display: block;
  top: 1.5rem;
  right: 1.5rem;
}
.grid__inner--item-1 {
  position: relative;
  background-color: #f6a560;
  border-radius: 0.5rem;
}
.grid__inner--item-2 {
  position: relative;
  background-color: #f39e9e;
  border-radius: 0.5rem;
}
.grid__inner--heading {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}
.grid__item {
  border-radius: 0.5rem;
  position: relative;
}
.grid__img {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: block;
}
.grid__heading {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
}
.grid-1 {
  background-color: #755cde;
  grid-row: 1/span 2;
}
.grid-2 {
  background-color: #61c4b7;
}
.grid-3 {
  background-color: #eb7565;
}
.grid-4 {
  background-color: #552049;
}

@media only screen and (max-width: 810px) {
  .hero {
    margin-bottom: 7.5rem;
  }
  .hero__content {
    margin-bottom: 4rem;
  }
  .grid {
    grid-template-columns: auto auto;
    grid-template-rows: 11.375rem 11.375rem 11.375rem;
  }
}
@media only screen and (max-width: 576px) {
  .hero {
    margin-bottom: 6.25rem;
  }
  .hero__content {
    margin-bottom: 2rem;
  }
  .grid {
    grid-template-columns: auto;
    grid-template-rows: 11.375rem 11.375rem 11.375rem 9.875rem 11.375rem 11.375rem;
  }
}
@media only screen and (max-width: 320px) {
  .grid {
    grid-template-rows: 11.375rem 11.375rem 22.75rem 9.875rem 11.375rem 11.375rem;
  }
  .grid__inner {
    grid-template-columns: auto;
    grid-template-rows: 11.375rem 11.375rem;
  }
  .grid__inner--item-1 {
    margin-bottom: 1.5rem;
  }
}
.work {
  margin-bottom: 5.5rem;
}
.work__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.work__image {
  width: 27.8125rem;
  display: block;
  border-radius: 50%;
  margin-right: 1rem;
}
.work__content {
  width: 100%;
  max-width: 33.75rem;
}
.work__heading {
  font-size: 2.5rem;
  line-height: 3.125rem;
  margin-bottom: 2.125rem;
}
.work__description {
  margin-bottom: 2rem;
  color: #7a746e;
}

@media only screen and (max-width: 965px) {
  .work__image {
    width: 22.75rem;
  }
}
@media only screen and (max-width: 810px) {
  .work {
    position: relative;
  }
  .work__image {
    left: -50px;
    position: absolute;
  }
  .work__content {
    width: 21.25rem;
    margin-left: auto;
  }
}
@media only screen and (max-width: 720px) {
  .work {
    margin-bottom: 7.5rem;
  }
  .work__heading {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
  }
  .work__description {
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 700px) {
  .work {
    position: static;
  }
  .work__container {
    flex-direction: column;
    text-align: center;
  }
  .work__image {
    position: static;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2.5rem;
  }
  .work__content {
    width: 100%;
    margin: 0;
  }
}
@media only screen and (max-width: 450px) {
  .work {
    margin-bottom: 6.25rem;
  }
  .work__image {
    width: 18.75rem;
  }
  .work__heading {
    font-size: 1.625rem;
    line-height: 2.125rem;
    margin-bottom: 1.5rem;
  }
  .work__description {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
  }
  .work .btn {
    width: 11rem;
    padding: 0.5rem 1.75rem;
    font-size: 0.875rem;
  }
}
.book {
  max-width: 69.375rem;
  margin-right: auto;
  margin-left: auto;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #030303;
  color: #fff7f0;
  padding: 5rem 5.9375rem 5rem 4.125rem;
}
.book__content {
  width: 33.75rem;
  margin-right: 1rem;
}
.book__heading {
  font-size: 2.5rem;
  line-height: 3.125rem;
  margin-bottom: 1.625rem;
}

@media only screen and (max-width: 992px) {
  .book {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    padding: 3.5rem 4.6875rem 4rem 4.6875rem;
  }
  .book__content {
    width: 25rem;
  }
}
@media only screen and (max-width: 900px) {
  .book {
    flex-direction: column;
    text-align: center;
  }
  .book__content {
    width: 100%;
    margin: 0;
    margin-bottom: 1.625rem;
  }
}
@media only screen and (max-width: 768px) {
  .book {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
    padding: 4.6875rem;
  }
  .book__heading {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 576px) {
  .book {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 3rem 1.5rem;
  }
  .book__content {
    margin-bottom: 2rem;
  }
  .book__heading {
    font-size: 1.625rem;
    line-height: 2.125rem;
  }
  .book__heading {
    font-size: 1rem;
    line-height: 1.625rem;
  }
}
@media only screen and (max-width: 450px) {
  .book .btn {
    width: 176px;
    padding: 0.5rem 1.75rem;
    font-size: 0.875rem;
  }
}
.slider {
  margin-bottom: 5.5rem;
  margin-right: 10px;
  margin-left: 10px;
}
.slider__container {
  text-align: center;
  overflow-x: hidden;
  width: 100%;
  max-width: 540px;
  margin-right: auto;
  margin-left: auto;
}
.slider__heading {
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 3.5rem;
}
.slider__imgs {
  width: 540px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  margin-bottom: 3.5rem;
  transition: transform 1s ease-in-out;
  transform: translateX(0);
}
.slider__img {
  display: block;
  border-radius: 10px;
}
.slider__img:not(:last-child) {
  margin-right: 1.875rem;
}

.arrow:not(:last-child) {
  margin-right: 1rem;
}

.footer {
  margin-top: 3.5rem;
  margin-bottom: 4rem;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 769px) {
  .footer {
    margin-bottom: 3.5rem;
  }
}
@media only screen and (max-width: 450px) {
  .footer {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  .footer .logo__img {
    width: 3rem;
    height: 3rem;
  }
  .footer .btn {
    width: 11rem;
    padding: 0.5rem 1.75rem;
    font-size: 0.875rem;
  }
}

/*# sourceMappingURL=main.css.map */
